<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.e.saivities">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application

        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">



        <activity android:name="com.e.saivities.About"
            android:screenOrientation="portrait"/>
        <activity android:name="com.e.saivities.Matrimony_info_demo"
            android:screenOrientation="portrait"/>
        <activity android:name="com.e.saivities.Job_existing"
            android:screenOrientation="portrait"/>
        <activity android:name="com.e.saivities.Matrimony_View_Details"
            android:screenOrientation="portrait"/>
        <activity android:name="com.e.saivities.Matrimony_Image_Edit"
            android:screenOrientation="portrait"/>
        <activity android:name="com.e.saivities.Business_Image_Edit"
            android:screenOrientation="portrait"/>
        <activity android:name="com.e.saivities.Matrimony_Edit"
            android:screenOrientation="portrait"/>
        <activity android:name="com.e.saivities.Business_Edit"
            android:screenOrientation="portrait"/>
        <activity android:name="com.e.saivities.Business_Favourites"
            android:screenOrientation="portrait"/>
        <activity android:name="com.e.saivities.Matrimony_Favourite"
            android:screenOrientation="portrait"/>
        <activity android:name="com.e.saivities.JobList"
            android:screenOrientation="portrait"/>
        <activity android:name="com.e.saivities.Matrimony_info"
            android:screenOrientation="portrait"/>
        <activity android:name="com.e.saivities.Business_info"
            android:screenOrientation="portrait"/>
        <activity android:name="com.e.saivities.BusinessPortal"
            android:screenOrientation="portrait"/>
        <activity android:name="com.e.saivities.Work_Portal"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.e.saivities.logIn"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name="com.e.saivities.signup"
            android:screenOrientation="portrait"/>
        <activity android:name="com.e.saivities.main"
            android:screenOrientation="portrait"/>
        <activity android:name="com.e.saivities.ResetPasswordActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.e.saivities.signup2"
            android:screenOrientation="portrait"/>
        <activity android:name="com.e.saivities.viewhoroscope"
            android:screenOrientation="portrait"/>
        <activity android:name="com.e.saivities.horoscopedisplay"
            android:screenOrientation="portrait"/>
        <activity android:name="com.e.saivities.horoscope"
            android:screenOrientation="portrait"/>
        <activity android:name="com.e.saivities.Matrimonydisplay"
            android:screenOrientation="portrait"/>
        <activity android:name="com.e.saivities.studentdetails"
            android:screenOrientation="portrait"/>
        <activity android:name="com.e.saivities.Employportal"
            android:screenOrientation="portrait"/>
        <activity android:name="com.e.saivities.registration"
            android:screenOrientation="portrait"/>
        <activity android:name="com.e.saivities.Category"
            android:screenOrientation="portrait"/>
        <activity android:name="com.e.saivities.NR"
            android:screenOrientation="portrait"/>
        <activity android:name="com.e.saivities.Getting_Business_details"
            android:screenOrientation="portrait"/>
        <activity android:name="com.e.saivities.Business_catalogue"
            android:screenOrientation="portrait"/>
        <activity android:name="com.e.saivities.Job_Portal"
            android:screenOrientation="portrait"/>
        <activity android:name="com.e.saivities.Matrimony"
            android:screenOrientation="portrait"/>
        <activity android:name="com.e.saivities.Main2Activity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.e.saivities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_HdzWdlFAthMLIC" />


    </application>

</manifest>